# Tableau Server Configuration (VizQL Data Service)
TABLEAU_SERVER_NAME=https://10ax.online.tableau.com
TABLEAU_SITE_ID=mysite

# Tableau Datasource LUIDs (VizQL Data Service)
TABLEAU_DS_FPRM_SATSCORES=c8b7c9bf-0833-33fa-a8d6-dabf9f239e27
TABLEAU_DS_FRPM_SCHOOLS=158a6553-4624-4b54-a376-2c585af0c0fa
TABLEAU_DS_SATSCORES_SCHOOLS=6bt6e542-880e-4ef4-9681-b644b61181ff

# Tableau Personal Access Token (PAT) (VizQL Data Service)
TABLEAU_PAT_NAME=token
TABLEAU_PAT_SECRET=your_pat_secret_here

# PostgreSQL Database Configuration (SQL)
POSTGRES_HOST=your_postgres_host_here
POSTGRES_PORT=5432
POSTGRES_DATABASE=your_database_name_here
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here

